<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>k-Fans</title>
</head>
<body>
<h1>Welcome to K-Fans</h1>
<h2>add Forum</h2>
<form method="post" th:action="@{'/addForum'}">
    <label for="name">포럼 이름</label>
    <input type="text" id="name" name="name" />

    <label for="description">포럼 설명</label>
    <input type="text" id="description" name="description" />
    <input type="submit" value="add new forum"/>
</form>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="forum : ${forums}">
            <td th:text="${forum.id}"></td>
            <td th:text="${forum.name}"></td>
            <td th:text="${forum.description}"></td>
            <td>
                <form th:method="delete" th:action="@{'/delete/' + ${forum.id}}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>