<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Posts</title>
</head>
<body>
<h1>Check Post</h1>
<h2>add Post</h2>
<form method="post" th:action="@{'/post/add'}">
    <label for="title">title</label>
    <input type="text" id="title" name="title" />
    <label for="contents">contents</label>
    <textarea id="contents" name="contents"></textarea>
    <input type="hidden" name="forumId" th:value="${forumId}">
    <input type="submit" value="add new Post"/>
</form>
<table>
    <thead>
        <tr>
            <th>title</th>
            <th>contents</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.title}"></td>
            <td th:text="${post.contents}"></td>
            <td>
                <form th:method="delete" th:action="@{'/post/delete'}">
                    <input type="hidden" name="forumId" th:value="${forumId}">
                    <input type="hidden" name="id" th:value="${post.id}">
                     <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>