<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Posts</title>
</head>
<body>
<h1>Read Post</h1>
<table>
    <thead>
    <tr>
        <th>title</th>
        <th>contents</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${post.title}"></td>
        <td th:text="${post.contents}"></td>
    </tr>
    </tbody>
</table>
<h2>add Comment</h2>
<form method="post" th:action="@{'/comment/add'}">
    <label for="contents">contents</label>
    <textarea id="contents" name="contents"></textarea>
    <input type="hidden" name="postId" th:value="${post.id}">
    <input type="submit" value="add new Comment"/>
</form>
<table>
    <thead>
        <tr>
            <th>comments</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.contents}"></td>
       </tr>
    </tbody>
</table>
</body>
</html>